@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans bg-slate-50 text-slate-900 antialiased;
}

h1,
h2,
h3,
h4 {
  @apply font-semibold text-slate-900;
}

section {
  scroll-margin-top: 96px;
}
